wd-grid {
  // Grid custom vars
  --grid-color: #eeeeee;
  --grid-min-width: 320px;
  --grid-max-width: 1200px;
  --container-color: #4ecca3;
  --column-color: #393e46;
  --column-gutter: 10px;

  display: block;
  min-width: var(--grid-min-width);
  max-width: var(--grid-max-width);
  overflow-y: hidden;
  margin: auto;
  background-color: var(--grid-color);
}

wd-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 calc(var(--column-gutter) * -1);
  background-color: var(--container-color);
}

wd-column {
  display: block;
  width: calc(100% / 12 - var(--column-gutter) * 2);
  margin: 0 var(--column-gutter);
  background-color: var(--column-color);
}

$breakpoints: xs, sm, md, lg, xl;
$columns: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
$min-width: (
  xs: 0,
  sm: 675,
  md: 850,
  lg: 975,
  xl: 1200
);

@mixin breakpointRules($breakpoint) {
  @each $column in $columns {
    @if $column > 0 {
      wd-column[#{$breakpoint}='#{$column}'] {
        width: calc(100% / 12 * #{$column} - var(--column-gutter) * 2);
      }
      wd-column[push#{$breakpoint}='#{$column}'] {
        margin-left: calc(100% / 12 * #{$column} + var(--column-gutter));
      }
    } @else {
      wd-column[push#{$breakpoint}='#{$column}'] {
        margin-left: var(--column-gutter);
      }
    }
  }
}

@each $breakpoint in $breakpoints {
  $breakpoint-min-width: map-get($min-width, $breakpoint);
  $query-width: $breakpoint-min-width - 1px;

  @if $breakpoint == xs {
    @include breakpointRules($breakpoint);
  } @else {
    @media (min-width: $query-width) {
      @include breakpointRules($breakpoint);
    }
  }
}
